*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
/*BOOT CSS*/

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.w33{
    width: 33.3%;
}
.w50{
    width: 50%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

/*ESTILIZAÇÃO*/

header{
    background-color: #3d437a;
    padding: 20px 0;
}

header .logo{
    font-size: 25px;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
}
.mobile{
    display: none;
}

nav.desktop ul{
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}
nav.desktop a{
    color: #FFF;
    text-decoration: none;
    
}
section.banner-principal{
    width: 100%;
    height: 600px;
    background-image: url(../img/bgform.png);
    background-size: cover;
    position: relative;
    
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
section.banner-principal form{
    width: 98%;
    max-width: 600px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}
section.banner-principal form h2{
    color: #FFF;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
        
}
section.banner-principal form input[type=email]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background-color: #FFF;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
}
section.banner-principal form input[type=submit]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background-color: #00C5C59E;
    color: #FFF;
    font-size: 22px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 22px;
    border: 0;
}























